streamlit

# Old versions compatible with pydantic_v1 AND langchain_together
langchain==0.0.331
langchain-core==0.1.16
langchain-community==0.0.20
langchain-together==0.0.2.post2

PyPDF2
faiss-cpu
sentence-transformers
torch
einops
